@model PilamungaSEvaluacion.Models.Clientes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Clientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DineroSeparar" class="control-label"></label>
                <input asp-for="DineroSeparar" class="form-control" />
                <span asp-validation-for="DineroSeparar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Asociado" /> @Html.DisplayNameFor(model => model.Asociado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NumTotalReservas" class="control-label"></label>
                <input asp-for="NumTotalReservas" class="form-control" />
                <span asp-validation-for="NumTotalReservas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
