@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p> <a >Evaluacion practica Progreso1 Programacion4</a>.</p>
    <div class="form-group">
        <label class="control-label"></label>
        <img src="~/Img/img-meme.jpg" class="img-fluid" style="max-height: 500px; max-width: 400px" />
    </div>
</div>

