@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    
    <p> <a >Evaluacion practica Progreso1 Programacion4</a>.</p>
    <div class="form-group">
        <label class="control-label"></label>
        <img src="~/Img/img-meme.jpg" class="img-fluid" style="max-height: 500px; max-width: 400px" />
        
        <div class="mt-3">
            <label for="userInput" class="form-label">Ingresa tu texto:</label>
            <input type="text" id="userInput" name="userInput" class="form-control" placeholder="Escribe algo" />
        </div>
        <button type="button" class="btn btn-outline-info">Enviar</button>
    </div>
    
    
